body{
    color: aliceblue;
    background: rgb(187, 187, 187);
    margin: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    margin-top:20px;
}
h2{
    color:rgba(56, 73, 69, 0.795);
}
.calborder{
  margin-left: 38%;
  margin-right: 38%;
  padding: 15px 0;
    border: 2px darkblue solid;
    background: rgba(100, 100, 100, 0.527);
    border-radius:10px;
    height: 70vh;
}
#display{
    margin-top: 10px;
    padding:10px 15px;
    background-color: rgba(112, 111, 111, 0.616);
    border-radius: 5px;
    color: bisque;
    font-weight: 600;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr{
    width: 20%;
}
#key{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-gap:6px;
    justify-self: center;
}
.btn{
    padding:20px;
    border-radius:50%;
    border: none;
    background: rgb(255, 255, 255);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition:ease-in-out 0.6s;
}
.operator{
    background: greenyellow;
}
.btn:hover{
   background: rgba(1, 175, 255, 0.959); 
}